# Week 13 Handson - Clustering
In this hands-on, we will empoy clustering technique to cluster data.

## Read the Dataset

Execute the following code to read the digit mnist dataset. The folder of `digit_mnist` dataset must be in the same directory with this ipynb file.

The dataset contains 500 digit handwritten images from 5 different classes/labels (0, 1, 2, 3, 4). The first 100 images have label of 0, the second 100 images have label of 1, and so on, until the fifth 100 images have label of 4.

In [13]:
# membaca library yang dibutuhkan
import numpy as np #library untuk komputasi matriks
import cv2 #library untuk memproses gambar/video
import matplotlib.pyplot as plt #library untuk plot data (visualisasi)
import os

# fungsi untuk membaca gambar (digit MNIST) ke matriks numpy per folder
def baca_image(folder_image):
    count = 0;
    list_nama_image= os.listdir(folder_image)
    list_path_image = [os.path.join(folder_image, i) for i in list_nama_image]
    all_image = np.ndarray(shape=(0,28*28))
    for i in list_path_image:
        image = cv2.imread(i, 0) #baca image menggunakan OpenCV API dalam gray image (0=gray, 1=berwarna).
        image_reshaped = image.reshape((1, -1))
        all_image = np.concatenate((all_image, image_reshaped), axis=0)
        count = count + 1
        if count >= 100:
            break
    return all_image
        
# menggunakan fungsi yg telah dibuat untuk membaca image MNIST '0' sampai '4' 
for angka in range(5):
    file = "digit_mnist/" + str(angka)
    digit = baca_image(file)
    if angka == 0:
        X = digit
    else :
        X = np.concatenate((X, digit), axis=0)

print("shape:", X.shape)

shape: (500, 784)

## Milestone 01 (M01)
In this milestone, you are asked to empoy clustering method to cluster the digit MNIST read above, into 5 clusters. The output of this milestone is clustered data. You may use any clustering method from any library you want.

In [65]:
from sklearn.cluster import KMeans

db = KMeans(n_clusters=5,n_init=1,random_state=11).fit(X)

db.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 3, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 3, 4, 4, 4, 3, 0, 4, 0, 4, 0, 4, 4, 4, 3, 4, 4, 4, 4, 2, 4, 4,
       4, 3, 4, 4, 4, 0, 0, 4, 4, 4, 2, 3, 4, 1, 0, 4, 4, 2, 0, 0, 4, 4,
       4, 4, 2, 0, 0, 4, 4, 4, 4, 4, 4, 3, 0, 2, 0, 4, 2, 4, 0, 0, 4, 4,
       4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3,
       4, 4, 2, 0, 2, 0, 4, 4, 4, 2, 4, 4, 4, 4, 2, 2, 4, 2, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 0, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3], dtype=int32)

## M02
Evaluate the clustering results in M01, as follows.
1. For each cluster, take the dominant class. E.g., in cluster 1, 96% data are digit 3 images, thus, all images in the cluster 1 have class prediction of 3 (digit 3). Likewise for other clusters.
2. With that prediction ouput, evaluate the clustering result using metrics of: (i) accuracy, (ii) precision: $TP/pred. yes$ and recall$: TP/actual yes$ for each class.
3. Print the metrics you get in (2).

In [92]:
arr_classes = np.array([],dtype='int32')
arr_targeted = np.zeros(500,dtype='int32')
for i in range(5):
    unique_elements, counts_elements = np.unique(db.labels_[i * 100:i * 100 + 99], return_counts=True)
    arr_targeted[i * 100:i * 100 + 99] = unique_elements[np.argmax(counts_elements)]
    arr_classes = np.append(arr_classes,unique_elements[np.argmax(counts_elements)])
    print(unique_elements[np.argmax(counts_elements)])
print(arr_targeted)

1
0
4
2
3
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 0]

In [105]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

print('Accuracy' ,accuracy_score(arr_targeted,db.labels_))
print('Precision' ,precision_score(arr_targeted,db.labels_,average='weighted'))
print('Precision' ,recall_score(arr_targeted,db.labels_,average='weighted'))

Accuracy 0.862
Precision 0.8716406836449002
Precision 0.862

## M03

Suppose you are working for goverment that they want to lauch development program to society. The program is expected to empower the society to improve their welfare. Given sample dataset of `people.csv` (provided in the zip), you are asked to segment the data. The data attibutes are: name, age, marital status, income range, gender, total children, children at home, education, occupation, home owner, cars. You may define your own variables, such as the number of segments, attributes that are used, etc. Please provide your arguments of choosing those variables, and show (or visualize) the segments you create, including at least brief explanation.

In [113]:
import pandas as pd

dataset = pd.read_csv('people.csv',encoding='ISO-8859-1')
dataset.head()

,Name,Age,MaritalStatus,IncomeRange,Gender,TotalChildren,ChildrenAtHome,Education,Occupation,HomeOwner,Cars
0,Aaron Adams,42,0,50000,0,0,0,3,2,1,1
1,Aaron Alexander,40,1,50000,0,0,0,2,2,1,2
2,Aaron Allen,63,0,25000,0,2,1,2,1,1,2
3,Aaron Baker,56,1,50000,0,4,2,2,2,1,2
4,Aaron Bryant,72,0,75000,0,4,0,4,4,1,2

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}